<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wizag.mobileapprovals">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/another_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/another_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".ui.Timer2">

        </activity>
        <activity android:name=".ui.Activity_UserDocuments" />
        <activity android:name=".ui.Activity_Approval" />
        <activity android:name=".ui.Activity_Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Activity_Admin_Docs" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>